/**

This is the basic css file I'm using for the examples
in the basics series. I will extend this file whenever
a new tutorial is being added and new css rules will 
follow. 

*/

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

a {
  color: currentColor;
}

body {
  padding: 3rem;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}

.header a {
  text-decoration: none;
}

.logo {
  font-weight: bold;
}

.menu ul {
  list-style: none;
  display: flex;
}

.menu ul li + li {
  margin-left: 1.5rem;
}

.main {
  flex-grow: 1;
  margin-bottom: 3rem;
}

.main h1 {
  margin-bottom: 1.5rem;
}

.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  list-style: none;
  grid-column-gap: 1.5rem;
  grid-row-gap: 3rem;
}
.projects img {
  width: 100%;
  margin-bottom: .5rem;
}

.pagination {
  display: flex;
  justify-content: space-between;
  padding-top: 3rem;
}
.pagination span {
  color: #999;
}

.filter {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}
.filter a {
  padding: .5rem 1rem;
  background: #000;
  color: #fff;
  margin-right: .5rem;
  border-radius: 3px;
  text-decoration: none;
}
.filter a[aria-current] {
  background: blue;
}
