.btn {
	--button-height: var(--height);
	display: inline-flex;
	font-size: var(--font-size--1);
	align-items: center;
	justify-content: center;
	gap: .5rem;
	padding-inline: .75rem;
	white-space: nowrap;
	line-height: 1.25;
	border-radius: 4px;
	background: transparent;
	height: var(--button-height);
	min-width: max-content;
}

.btn[data-width="100%"] {
  width: 100%;
}

.btn[data-variant=filled] {
  background-color: #000;
	color: #fff;
}
