.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: var(--spacing-1);
}

.mb-2 {
  margin-bottom: var(--spacing-2);
}

.mb-3 {
  margin-bottom: var(--spacing-3);
}

.mb-6 {
  margin-bottom: var(--spacing-6);
}

.mb-12 {
  margin-bottom: var(--spacing-12);
}

.mb-16 {
  margin-bottom: var(--spacing-16);
}

.mb-24 {
  margin-bottom: var(--spacing-24);
}

.mb-36 {
  margin-bottom: var(--spacing-36);
}

.mb-48 {
  margin-bottom: var(--spacing-48);
}
