/* these are just some very rough styles to get you started with the filter nav */ 
.filter {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}
.filter a {
  padding: .5rem 1rem;
  background: #000;
  color: #fff;
  margin-right: .5rem;
  border-radius: 3px;
  text-decoration: none;
}
.filter a[aria-current] {
  background: blue;
}
